.header {
  width: 100vw;
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, black 0%, #133250 40%, #203ae9 100%);
  padding: 16px 0;
}

.header__container {
  width: 80%;
  display: flex;
  margin: auto;
  justify-content: space-between;
  height: auto;
  align-items: center;
}

.cuadrado {
  width: 100px;
  height: 40px;
  background: white;
}

.header__ul {
  padding: 0;
  display: flex;
  gap: 32px;
}
.header__ul__a {
  text-decoration: none;
  color: white;
}
.header__ul__a:hover {
  text-decoration: underline;
}
