.header {
  width: 100vw;
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, black 0%, #133250 40%, #203ae9 100%);
  padding: 16px 0;
}

.header__container {
  width: 80%;
  display: flex;
  margin: auto;
  justify-content: space-between;
  height: auto;
  align-items: center;
}

.cuadrado {
  width: 100px;
  height: 40px;
  background: white;
}

.header__close-menu {
    /* CERRAR MENU CORREGIR ICONO Y APLICAR EL EFECTO DE CERRADO */
  top: 16px;
  right: 40px;
  z-index: 10;
  position: absolute;
  cursor: pointer;
  display: none;
  display: initial;
  width: 40px;
  height: 40px;
}
.header__ul {
  padding: 0;
  display: flex;
  gap: 32px;
}
.header__ul--hamburguesa {
  background: rgba(32, 58, 233, 0.9);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}
.header__ul__a {
  text-decoration: none;
  color: white;
}
.header__ul__a:hover {
  text-decoration: underline;
}

.header-menu-hmbgs {
  cursor: pointer;
  display: none;
  display: initial;
  width: 40px;
  height: 40px;
}
